<div class="container-fluid">
  <h1>Registration Form</h1>
  
  {{registrationForm.value | json}}
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Username</label>
      <input  id="userName"  formControlName="userName" type="text" class="form-control">
      <span *ngIf="!registrationForm.get('userName').valid 
      && registrationForm.get('userName').touched" >
      Username is required</span>
    </div>

    
    <!-- [class.d-none]="registrationForm.get('userName').valid || 
      registrationForm.get('userName').untouched" -->

    <div class="form-group">
      <label>Password</label>
      <input formControlName="password" type="password" class="form-control">
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input formControlName="confirmPassword" type="password" class="form-control">
    </div>
 <div formGroupName="address">
    <div class="form-group">
      <label>City</label>
      <input formControlName="city" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label>State</label>
      <input formControlName="state" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label>Postal Code</label>
      <input formControlName="postalCode" type="text" class="form-control">
    </div>
    </div>
<button class="btn btn-primary" type="submit">Register</button>
<button (click)="loadApiData()" class="btn btn-secondary ml-2" type="button">Load API Data</button>
  </form>
</div>